DATABASE_URL=
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
EMAIL_ADDRESS=
EMAIL_PASSWORD=
NIXPACKS_NODE_VERSION=22
PORT=3000
PLATFORM_SUPPORT=
PRODUCTION_URL=api.PLATFORM_DOMAIN
PLATFORM_DOMAIN=
STAGING_URL=stg.PLATFORM_DOMAIN
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_URL=
EMAIL_PROVIDER=google
ENVIRONMENT=TEST
REFRESH_SECRET_KEY=
SECRET_KEY=
PLATFORM_NAME=